<div class="container">
	<h3><%= link_to @job.title, @job.url %></h3>
	<h5><%= @job.author %></h5>
	<i><small>Published on <%= @job.published.strftime("%B %d, %Y") %></i></small>
	<p>
		<%= @job.content.html_safe %>
	</p>
</div>

<div class="job actions">
	<!-- Includes :order_param to reload the sort order last used by the user -->
	<%= link_to "Back to jobs", jobs_path(1, :order_param), class: "btn btn-xs btn-success" %>
</div>	